


body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #070707;
    color: #f5f5f5;
}

nav {
    background: #000;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: #d4af37;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right,#000,#1a1a1a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    color: #d4af37;
    font-size: 48px;
}

.btn {
    background: #d4af37;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
}

.title {
    text-align: center;
    margin: 40px 0;
    color: #d4af37;
}

.products {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.price {
    color: #d4af37;
}

.main-img {
    width: 100%;
    border-radius: 10px;
}

.gallery img {
    width: 60px;
    margin: 5px;
    cursor: pointer;
}

.reels {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

.reels video {
    width: 250px;
    border-radius: 15px;
}

.order-btn {
    background: green;
    padding: 15px;
    width: 80%;
    margin: 30px auto;
    display: block;
    border: none;
    color: white;
    font-size: 18px;
}

.social-icons a {
    color: #d4af37;
    font-size: 22px;
    margin: 0 12px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: white;
}

.footer {
    background: #000;
    color: gold;
    padding: 40px 20px 10px;
    margin-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer-section p {
    font-size: 14px;
    color: #ccc;
}

.footer-section a {
    display: inline-block;
    color: gold;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 13px;
    color: #aaa;
}